body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:137px;
  top:30px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:26px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:279px;
  top:26px;
  width:25px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:62px;
  width:141px;
  height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:137px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:179px;
  top:62px;
  width:141px;
  height:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:137px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:109px;
  width:142px;
  height:459px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:459px;
}
#u17 {
  position:absolute;
  left:2px;
  top:222px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:179px;
  top:109px;
  width:141px;
  height:459px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:459px;
}
#u19 {
  position:absolute;
  left:2px;
  top:222px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:229px;
  top:16px;
  width:75px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:376px;
  top:168px;
  width:25px;
  height:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:402px;
  top:168px;
  width:25px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:429px;
  top:168px;
  width:25px;
  height:25px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:455px;
  top:168px;
  width:25px;
  height:25px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:224px;
  width:320px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u31 {
  position:absolute;
  left:324px;
  top:116px;
  width:33px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:324px;
  top:142px;
  width:33px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:334px;
  width:320px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u36 {
  position:absolute;
  left:324px;
  top:173px;
  width:33px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:324px;
  top:199px;
  width:33px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:118px;
  top:268px;
  width:31px;
  height:52px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:52px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:80px;
  top:422px;
  width:109px;
  height:78px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:78px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:225px;
  top:422px;
  width:31px;
  height:65px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:65px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
