body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:319px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:137px;
  top:30px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:8px;
  top:532px;
  width:303px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:8px;
  top:93px;
  width:303px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:41px;
  top:100px;
  width:129px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:240px;
  top:102px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:293px;
  top:102px;
  width:13px;
  height:13px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:205px;
  top:100px;
  width:8px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:16px;
  top:77px;
  width:31px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:8px;
  top:149px;
  width:303px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:57px;
  top:156px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:246px;
  top:158px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:206px;
  top:156px;
  width:8px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:16px;
  top:133px;
  width:31px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:12px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:8px;
  top:267px;
  width:303px;
  height:239px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:239px;
}
#u33 {
  position:absolute;
  left:2px;
  top:112px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:73px;
  top:274px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#00CCFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:246px;
  top:274px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:206px;
  top:274px;
  width:8px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:16px;
  top:251px;
  width:31px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:12px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:12px;
  top:302px;
  width:296px;
  height:199px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:199px;
}
#u43 {
  position:absolute;
  left:2px;
  top:92px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:58px;
  top:433px;
  width:199px;
  height:68px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:68px;
}
#u45 {
  position:absolute;
  left:2px;
  top:26px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:100px;
  top:461px;
  width:115px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:12px;
  top:297px;
  width:296px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u49 {
  position:absolute;
  left:148px;
  top:473px;
  width:20px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:48px;
  top:441px;
  width:20px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:246px;
  top:441px;
  width:20px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:96px;
  top:441px;
  width:20px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:198px;
  top:441px;
  width:20px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:190px;
  top:398px;
  width:20px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:104px;
  top:398px;
  width:20px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:216px;
  top:357px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:86px;
  top:357px;
  width:20px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:148px;
  top:357px;
  width:20px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:150px;
  top:308px;
  width:20px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:206px;
  top:289px;
  width:101px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:101px;
  height:1px;
}
#u72 {
  position:absolute;
  left:0px;
  top:506px;
  width:320px;
  height:21px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:10px;
  top:510px;
  width:66px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:273px;
  top:510px;
  width:38px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:260px;
  top:178px;
  width:51px;
  height:17px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u79 {
  position:absolute;
  left:2px;
  top:1px;
  width:47px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:-1px;
  top:62px;
  width:80px;
  height:8px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:79px;
  top:62px;
  width:80px;
  height:8px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:159px;
  top:62px;
  width:80px;
  height:8px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u85 {
  position:absolute;
  left:2px;
  top:-4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:239px;
  top:62px;
  width:80px;
  height:8px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:217px;
  top:94px;
  width:89px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:262px;
  top:312px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:12px;
  top:28px;
  width:22px;
  height:22px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u92 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:8px;
  top:209px;
  width:303px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:16px;
  top:193px;
  width:31px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:12px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:31px;
  top:212px;
  width:44px;
  height:24px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:85px;
  top:212px;
  width:44px;
  height:24px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:139px;
  top:212px;
  width:44px;
  height:24px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:193px;
  top:212px;
  width:44px;
  height:24px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:247px;
  top:212px;
  width:44px;
  height:24px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
