body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:518px;
  width:320px;
  height:49px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:137px;
  top:30px;
  width:63px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:11px;
  top:547px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#00CCFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:77px;
  top:547px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:142px;
  top:547px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:208px;
  top:547px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:274px;
  top:547px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:6px;
  top:174px;
  width:308px;
  height:202px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:202px;
}
#u21 {
  position:absolute;
  left:2px;
  top:93px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:90px;
  top:181px;
  width:24px;
  height:24px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:208px;
  top:181px;
  width:24px;
  height:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:86px;
  top:207px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:204px;
  top:207px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:140px;
  top:207px;
  width:46px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:146px;
  top:193px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:6px;
  top:220px;
  width:308px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u35 {
  position:absolute;
  left:148px;
  top:182px;
  width:30px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:6px;
  top:222px;
  width:308px;
  height:64px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:64px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:276px;
  top:207px;
  width:29px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:16px;
  top:293px;
  width:289px;
  height:43px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:6px;
  top:339px;
  width:308px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u44 {
  position:absolute;
  left:36px;
  top:354px;
  width:11px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:148px;
  top:354px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:264px;
  top:354px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:6px;
  top:68px;
  width:308px;
  height:99px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:99px;
}
#u51 {
  position:absolute;
  left:2px;
  top:42px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:90px;
  top:79px;
  width:24px;
  height:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:208px;
  top:79px;
  width:24px;
  height:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:86px;
  top:105px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:204px;
  top:105px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:140px;
  top:105px;
  width:46px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:146px;
  top:91px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:144px;
  top:75px;
  width:32px;
  height:15px;
  font-size:10px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:6px;
  top:128px;
  width:308px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u67 {
  position:absolute;
  left:36px;
  top:144px;
  width:11px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:148px;
  top:144px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:264px;
  top:144px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:280px;
  top:28px;
  width:22px;
  height:22px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:6px;
  top:68px;
  width:308px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:6px;
  top:174px;
  width:308px;
  height:202px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
