body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:321px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:7px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1px;
  top:16px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:121px;
  top:30px;
  width:80px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1px;
  top:131px;
  width:320px;
  height:199px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:199px;
}
#u9 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1px;
  top:130px;
  width:320px;
  height:200px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
}
#u11 {
  position:absolute;
  left:2px;
  top:92px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:138px;
  top:301px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:9px;
  top:530px;
  width:303px;
  height:29px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:29px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:333px;
  width:320px;
  height:190px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:190px;
}
#u17 {
  position:absolute;
  left:2px;
  top:87px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:333px;
  width:321px;
  height:190px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:190px;
}
#u19 {
  position:absolute;
  left:2px;
  top:87px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:138px;
  top:496px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1px;
  top:333px;
  width:320px;
  height:190px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:190px;
}
#u23 {
  position:absolute;
  left:2px;
  top:87px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:333px;
  width:320px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:11px;
  top:80px;
  width:150px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:161px;
  top:80px;
  width:151px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:62px;
  width:107px;
  height:8px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:8px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-4px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:214px;
  top:62px;
  width:107px;
  height:8px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:8px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:107px;
  top:62px;
  width:107px;
  height:8px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:8px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-4px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:12px;
  top:28px;
  width:22px;
  height:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u36 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:130px;
  width:320px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
