body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:122px;
  top:30px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:394px;
  width:308px;
  height:144px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:144px;
}
#u9 {
  position:absolute;
  left:2px;
  top:64px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:68px;
  top:405px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:227px;
  top:405px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:64px;
  top:431px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:223px;
  top:431px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:124px;
  top:431px;
  width:73px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:148px;
  top:416px;
  width:24px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:6px;
  top:499px;
  width:308px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u23 {
  position:absolute;
  left:36px;
  top:515px;
  width:11px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:148px;
  top:515px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#00CCFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:264px;
  top:515px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:150px;
  top:405px;
  width:18px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:6px;
  top:446px;
  width:308px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u32 {
  position:absolute;
  left:16px;
  top:464px;
  width:284px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:12px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:16px;
  top:483px;
  width:284px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:12px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:6px;
  top:394px;
  width:52px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:375px;
  width:320px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:165px;
  top:528px;
  width:10px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:8px;
  top:394px;
  width:307px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:6px;
  top:83px;
  width:308px;
  height:144px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:144px;
}
#u44 {
  position:absolute;
  left:2px;
  top:64px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:68px;
  top:94px;
  width:24px;
  height:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:227px;
  top:94px;
  width:24px;
  height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:64px;
  top:120px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:223px;
  top:120px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:124px;
  top:120px;
  width:73px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:148px;
  top:105px;
  width:24px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:6px;
  top:188px;
  width:308px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u58 {
  position:absolute;
  left:36px;
  top:204px;
  width:11px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:148px;
  top:204px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#00CCFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:264px;
  top:204px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:150px;
  top:94px;
  width:18px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:6px;
  top:135px;
  width:308px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u67 {
  position:absolute;
  left:16px;
  top:153px;
  width:284px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:12px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:16px;
  top:172px;
  width:284px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:12px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:6px;
  top:83px;
  width:52px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:5px;
  top:230px;
  width:308px;
  height:144px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:144px;
}
#u74 {
  position:absolute;
  left:2px;
  top:64px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:147px;
  top:241px;
  width:24px;
  height:24px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:143px;
  top:267px;
  width:31px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:184px;
  top:264px;
  width:73px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:5px;
  top:335px;
  width:308px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u82 {
  position:absolute;
  left:35px;
  top:351px;
  width:11px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:147px;
  top:351px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#00CCFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:263px;
  top:351px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:184px;
  top:249px;
  width:18px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:5px;
  top:282px;
  width:308px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u91 {
  position:absolute;
  left:15px;
  top:300px;
  width:284px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:12px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:15px;
  top:319px;
  width:284px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:12px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:5px;
  top:230px;
  width:52px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:63px;
  width:320px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:6px;
  top:83px;
  width:307px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  position:absolute;
  left:6px;
  top:230px;
  width:307px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101 {
  position:absolute;
  left:0px;
  top:540px;
  width:320px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:16px;
  top:28px;
  width:22px;
  height:22px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u104 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
