body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:58px;
  width:320px;
  height:210px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u5 {
  position:absolute;
  left:2px;
  top:97px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:94px;
  top:278px;
  width:131px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:26px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:12px;
  width:50px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:0px;
  top:480px;
  width:320px;
  height:88px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:88px;
}
#u12 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:122px;
  top:320px;
  width:76px;
  height:76px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u14 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:42px;
  top:406px;
  width:235px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:133px;
  top:435px;
  width:150px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
