body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:33px;
  width:100px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:141px;
  width:181px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:94px;
  top:186px;
  width:133px;
  height:18px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:16px;
  top:248px;
  width:289px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:124px;
  top:300px;
  width:72px;
  height:21px;
  font-size:20px;
  color:#00CCFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:126px;
  top:406px;
  width:64px;
  height:64px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:49px;
  top:350px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:49px;
  top:382px;
  width:29px;
  height:15px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:16px;
  top:435px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:17px;
  top:457px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:66px;
  top:435px;
  width:20px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:67px;
  top:457px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:52px;
  top:505px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:53px;
  top:527px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:41px;
  top:435px;
  width:20px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:42px;
  top:457px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:91px;
  top:435px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:92px;
  top:457px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:54px;
  top:397px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:54px;
  top:419px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:28px;
  top:397px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:419px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:78px;
  top:397px;
  width:20px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:80px;
  top:419px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:16px;
  top:471px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:17px;
  top:493px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:66px;
  top:471px;
  width:20px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:67px;
  top:493px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:41px;
  top:471px;
  width:20px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:42px;
  top:493px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:91px;
  top:471px;
  width:20px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:92px;
  top:493px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:242px;
  top:351px;
  width:30px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:242px;
  top:383px;
  width:29px;
  height:15px;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:209px;
  top:436px;
  width:20px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:210px;
  top:458px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:259px;
  top:436px;
  width:20px;
  height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:260px;
  top:458px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:245px;
  top:506px;
  width:20px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:246px;
  top:528px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:234px;
  top:436px;
  width:20px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:235px;
  top:458px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:284px;
  top:436px;
  width:20px;
  height:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:285px;
  top:458px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:247px;
  top:398px;
  width:20px;
  height:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:247px;
  top:420px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:221px;
  top:398px;
  width:20px;
  height:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:223px;
  top:420px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:271px;
  top:398px;
  width:20px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:273px;
  top:420px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:209px;
  top:472px;
  width:20px;
  height:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:210px;
  top:494px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:259px;
  top:472px;
  width:20px;
  height:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:260px;
  top:494px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:234px;
  top:472px;
  width:20px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:235px;
  top:494px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:284px;
  top:472px;
  width:20px;
  height:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:285px;
  top:494px;
  width:19px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
