body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:129px;
  top:30px;
  width:52px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1px;
  top:61px;
  width:107px;
  height:28px;
  font-size:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:103px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:107px;
  top:61px;
  width:107px;
  height:28px;
  font-size:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:103px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:213px;
  top:61px;
  width:107px;
  height:28px;
  font-size:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:103px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:532px;
  width:320px;
  height:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:542px;
  width:52px;
  height:21px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:137px;
  top:541px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:244px;
  top:542px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:533px;
  width:103px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:108px;
  top:533px;
  width:103px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:217px;
  top:533px;
  width:103px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:0px;
  top:259px;
  width:320px;
  height:160px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:160px;
}
#u26 {
  position:absolute;
  left:2px;
  top:72px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:89px;
  width:320px;
  height:161px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:161px;
}
#u28 {
  position:absolute;
  left:2px;
  top:72px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:8px;
  top:126px;
  width:150px;
  height:111px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u30 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:8px;
  top:126px;
  width:150px;
  height:111px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u32 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:51px;
  top:174px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:38px;
  top:200px;
  width:90px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:12px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:164px;
  top:126px;
  width:150px;
  height:111px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u38 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:164px;
  top:126px;
  width:150px;
  height:111px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u40 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:207px;
  top:174px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:194px;
  top:200px;
  width:90px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:12px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:8px;
  top:298px;
  width:150px;
  height:111px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u46 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:8px;
  top:298px;
  width:150px;
  height:111px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u48 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:51px;
  top:346px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:38px;
  top:372px;
  width:90px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:12px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:164px;
  top:298px;
  width:150px;
  height:111px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u54 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:164px;
  top:298px;
  width:150px;
  height:111px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u56 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:207px;
  top:346px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:194px;
  top:372px;
  width:90px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:12px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:144px;
  top:101px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:144px;
  top:273px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
