body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:531px;
  width:320px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:146px;
  top:32px;
  width:49px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:541px;
  width:47px;
  height:21px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:137px;
  top:540px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:244px;
  top:541px;
  width:46px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:531px;
  width:103px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:108px;
  top:533px;
  width:103px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:217px;
  top:531px;
  width:103px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:290px;
  top:536px;
  width:10px;
  height:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:46px;
  top:32px;
  width:50px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#00CCFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:236px;
  top:32px;
  width:55px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:6px;
  top:65px;
  width:308px;
  height:198px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:198px;
}
#u26 {
  position:absolute;
  left:2px;
  top:91px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:6px;
  top:233px;
  width:308px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u28 {
  position:absolute;
  left:36px;
  top:245px;
  width:11px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:264px;
  top:245px;
  width:25px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:17px;
  top:101px;
  width:284px;
  height:97px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:97px;
}
#u33 {
  position:absolute;
  left:2px;
  top:40px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:6px;
  top:89px;
  width:308px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u35 {
  position:absolute;
  left:92px;
  top:73px;
  width:142px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:201px;
  width:70px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:10px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:40px;
  top:221px;
  width:110px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:10px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:20px;
  top:217px;
  width:15px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:199px;
  width:15px;
  height:15px;
  font-size:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:208px;
  top:219px;
  width:15px;
  height:15px;
  font-size:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:228px;
  top:221px;
  width:74px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:208px;
  top:199px;
  width:15px;
  height:15px;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:228px;
  top:203px;
  width:74px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:6px;
  top:73px;
  width:308px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
