body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:137px;
  top:30px;
  width:66px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:213px;
  top:62px;
  width:107px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:62px;
  width:107px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:106px;
  top:62px;
  width:107px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:6px;
  top:100px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:19px;
  top:127px;
  width:15px;
  height:15px;
  font-size:8px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:50px;
  top:129px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:142px;
  top:129px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:220px;
  top:129px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:100px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:142px;
  top:100px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:213px;
  top:100px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:19px;
  top:157px;
  width:15px;
  height:15px;
  font-size:8px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:50px;
  top:159px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:142px;
  top:159px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:220px;
  top:159px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:19px;
  top:187px;
  width:15px;
  height:15px;
  font-size:8px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:189px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:142px;
  top:189px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:220px;
  top:189px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:19px;
  top:216px;
  width:15px;
  height:15px;
  font-size:8px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:50px;
  top:218px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:142px;
  top:218px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:220px;
  top:218px;
  width:44px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:114px;
  width:320px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:142px;
  width:320px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:174px;
  width:320px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:203px;
  width:320px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:233px;
  width:320px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u59 {
  position:absolute;
  left:10px;
  top:30px;
  width:22px;
  height:22px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u60 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
