body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:3px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:16px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:137px;
  top:30px;
  width:63px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:11px;
  top:28px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:269px;
  top:21px;
  width:36px;
  height:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:40px;
  top:535px;
  width:210px;
  height:25px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:8px;
  top:535px;
  width:25px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:522px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:292px;
  top:538px;
  width:5px;
  height:5px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:288px;
  top:540px;
  width:24px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:295px;
  top:543px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:257px;
  top:536px;
  width:22px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:312px;
  width:320px;
  height:216px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u27 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
